# Frontend Environment Variables
NEXT_PUBLIC_API_URL=https://abb-ac450-migration-studio-backend.onrender.com/api

# Backend Environment Variables
PROJECT_NAME="ABB AC450 DB Element Converter"
VERSION="1.0.0"
API_PREFIX="/api"
PORT=8000
